html, body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-size: cover;
    /*background-color: #ce3635;*/
    background-color: #edcce2;
    font-family: Helvetica, sans-serif, sans-serif;
    font-size: 14px;
    flex-basis: 100%;
    animation: zoom-in 1s ease-in 2;
}
  h1 {
    position: absolute;
    width: 800px;
    height: 100px;
    left: 20px;
    top: 0px;
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 141px;
    /* identical to box height */
  
    letter-spacing: -0.05em;
  
    color: #FFFFFF;
  }
  
  h2{
    position: absolute;
    width: 800px;
    height: 76px;
    left: 35px;
    top: 10px;
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 76px;
    letter-spacing: -0.05em;
  
    color: #FFFFFF;
  }
  
  h3{
    width: 30px; 
    height: 40px; 
    font-size: 25px; 
    color: #FFFFFF;
    padding-left: 15px;
  }
  
  p {
    font-size: 15px;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 100px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: -0.05em;
    left:99px; 
  
    color: #FFFFFF;
  
    background: rgba(87, 73, 174, 0.37);
  }
  a {
    color: black;
    text-decoration: none;
    display: inline-block; 
  }
  .footer{
    padding: 10px 0 20px;
    font-size: 13px;
    color: white;
  
  }
  indexbutton{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: -0.05em;
    height: 25px; 
    left:29px; 
    color: #FFFFFF;
    background: rgba(87, 73, 174, 0.37);
  }
  indexbutton:hover{
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .parent {
    width:730px;
    height:120px;
    position: absolute;
    top:140px; 
    left:400px;
    text-align: center;
    align-content: center;
  }
   
  .child {
    position: absolute;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -90px);
  }
  
  .stars { 
    visibility: hidden;
    left: 840px; 
    bottom:0px; 
    position:absolute; 
    width: 188px; 
    height: 210px; 
    z-index: 0;
  }
  
  .stars.animated {
    visibility: visible;
    overflow: auto;
    left: 840px; 
    position:absolute;
    bottom:0px;
    animation: fadein 1.5s ease;
    
  }
  /*
  @keyframes fadein {
    0%   {bottom: -220px;}
    25%  {bottom: -100px;}
    50%  {bottom: 0px;}
    75%  {bottom: -100px;}
    100% {bottom: -220px;}
  }*/

  

@keyframes zoom-in {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
